<!-- wp:template-part {"slug":"header","theme":"electronics-retail-shop","tagName":"header"} /-->

<!-- wp:pattern {"slug":"electronics-retail-shop/banner"} /-->

<!-- wp:group {"tagName":"main","className":"electronics-retail-shop-product-section","style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group electronics-retail-shop-product-section" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:pattern {"slug":"electronics-retail-shop/vlog-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"electronics-retail-shop/about-us-section"} /-->
<!-- wp:pattern {"slug":"electronics-retail-shop/testimonials-section"} /-->
<!-- wp:pattern {"slug":"electronics-retail-shop/faq-section"} /-->
<!-- wp:pattern {"slug":"electronics-retail-shop/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"electronics-retail-shop","tagName":"footer"} /-->